<div class="container pb-50">
  <div class="row">
    <div class="col">
      <h4>ジャンル一覧・追加</h4>
      <%= render 'form', genre: @genre_new %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'index', genres: @genres %>
    </div>
  </div>
</div>
