
<% if post.favorited_by?(current_customer) %>
  <div>
    <%= link_to post_favorites_path(post), method: :delete do %>
      ♥<%= post.favorites.count %> いいね
    <% end %>
  </div>
  <% else %>
  <div>
    <%= link_to post_favorites_path(post), method: :post do %>
      ♡<%= post.favorites.count %> いいね
    <% end %>
  </div>
<% end %>