.card{
  margin: 10px;
}

.favorite_count{
  color: red;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .card {
    color: green;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .card {
    color: yellow;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .card {
    color: red;
    /*width: 10%;*/
  }
}